Importing the dataset

In [23]:
import pandas as pd
import seaborn as sns

In [24]:
df = pd.read_csv(r'C:\Users\Gian\Documents\Coding\ML_Basics\Decision_Tree\car_evaluation.csv')

In [25]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

Naming the columns

In [26]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']


df.columns = col_names

Checking the null values

In [27]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

Checking the unique values

In [28]:
df.nunique()

buying      4
maint       4
doors       4
persons     3
lug_boot    3
safety      3
class       4
dtype: int64

In [29]:
for i in range(0,7):
    print(df.iloc[:,i].value_counts())

high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64
high     432
med      432
low      432
vhigh    431
Name: maint, dtype: int64
3        432
4        432
5more    432
2        431
Name: doors, dtype: int64
4       576
more    576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: safety, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

Splitting the dataset into train and test

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['class'], axis=1), df['class'], test_size = 0.3)

In [32]:
X_train.shape, X_test.shape

((1208, 6), (519, 6))

Labelling the dataset

In [33]:
import category_encoders as ce

In [34]:
encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [35]:
X_train.head()

      buying  maint  doors  persons  lug_boot  safety
8          1      1      1        1         1       1
345        1      2      1        2         2       2
243        1      3      2        3         1       2
721        2      3      3        2         1       3
1180       3      3      4        2         1       3

In [36]:
X_test.head()

     buying  maint  doors  persons  lug_boot  safety
122       1      4      1        1         3       1
752       2      3      4        2         3       1
84        1      1      4        3         2       2
507       2      1      3        2         2       2
244       1      3      2        3         1       3

Training the model

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [40]:
model = RandomForestClassifier()

In [41]:
model.fit(X_train, y_train)

RandomForestClassifier()

Evaluating the model

In [42]:
pred = model.predict(X_test)

In [43]:
from sklearn.metrics import accuracy_score, classification_report

accuracy_score(y_test, pred)

0.9749518304431599

In [44]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         acc       0.91      0.97      0.94       109
        good       1.00      0.78      0.88        27
       unacc       0.99      1.00      0.99       363
       vgood       1.00      0.85      0.92        20

    accuracy                           0.97       519
   macro avg       0.98      0.90      0.93       519
weighted avg       0.98      0.97      0.97       519